.LogoAgrinho{
 width: 20%;
 display: flex;
 justify-content: left;

}
body{
    background-color: aqua;
    align-items: center;
    text-align: center;
}
.container{
    background-color: aliceblue;
    border-radius: 20%;
    align-items: center;
    text-align: center;
    color: blue;
    border: 2px solid black;
    padding: 20px, 20px, 20px, 20px;
    margin: 20px, 20px, 20px, 20px;

}

